<a href="https://colab.research.google.com/github/Venkatpolavarapu/Data-Science/blob/master/PCA_and_clusteringTrading_assets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
from matplotlib import style
import seaborn as sns
from scipy.stats import randint as sp_randint
from sklearn.decomposition import PCA
from pathlib import Path
import pandas as pd
style.use("ggplot")

# loading the data

#github_p = "https://github.com/Finance-781/FinML/blob/master/Lecture%207%20-%20Principal%20Components/Inclass/data/"
#github_p = "https://github.com/Finance-781/FinML/blob/master/Lecture%207%20-%20Principal%20Components/Inclass/data/Dow_adjcloses.csv"
url = 'https://raw.githubusercontent.com/Finance-781/FinML/master/Lecture%207%20-%20Principal%20Components/Inclass/data/Dow_adjcloses.csv'
df = pd.read_csv(url, parse_dates=True,index_col=0)
df.head()

                  MMM        AXP      AAPL  ...   V        WMT        WBA
Date                                        ...
2000-01-03  29.847043  35.476634  3.530576  ... NaN  47.337599  21.713237
2000-01-04  28.661131  34.134275  3.232839  ... NaN  45.566248  20.907354
2000-01-05  30.122175  33.959430  3.280149  ... NaN  44.503437  21.097421
2000-01-06  31.877325  33.959430  2.996290  ... NaN  45.126952  20.527220
2000-01-07  32.509812  34.433913  3.138219  ... NaN  48.535033  21.051805

[5 rows x 30 columns]

In [22]:
# Dropping 'Not a Number' columns for Dow Chemicals (DWDP) and Visa (V)
#df.dropna(subset=['DWDP', 'V'], inplace=True)
df.dropna(axis=1,how='any')
# Copying the dataframe to add features
data = pd.DataFrame(df.copy())
# Daily Returns
# Daily Log Returns (%)
# datareturns = np.log(data / data.shift(1)) 

# Daily Linear Returns (%)
datareturns = data.pct_change(1)

# Dow Jones Equal Weighted rETURN
datareturns["DJIA"] = datareturns.mean(axis=1)

# Data Raw
data_raw = datareturns
data_raw.dropna(how='all', inplace=True)

# Normalizing the returns
data = (data_raw - data_raw.mean()) / data_raw.std()

# Getting rid of the NaN values.
data.dropna(how='any', inplace=True)
data_raw.dropna(how='any', inplace=True)

In [23]:
df.head()

                  MMM        AXP      AAPL  ...         VZ        WMT        WBA
Date                                        ...
2000-01-03  29.847043  35.476634  3.530576  ...  22.564221  47.337599  21.713237
2000-01-04  28.661131  34.134275  3.232839  ...  21.833915  45.566248  20.907354
2000-01-05  30.122175  33.959430  3.280149  ...  22.564221  44.503437  21.097421
2000-01-06  31.877325  33.959430  2.996290  ...  22.449405  45.126952  20.527220
2000-01-07  32.509812  34.433913  3.138219  ...  22.282692  48.535033  21.051805

[5 rows x 28 columns]